a{
    text-decoration: none;
    margin:10px;
    display: inline;
    color: black;
}
.search{
    text-align: right;
    align-items: flex-start;
    margin-right: 10px;
}
.heading{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}
.grid1{
    display: grid;
    gap: 20px;
    grid-template-columns: 33% 33% 33%;
}
.grid{
    background-color: bisque;
    padding: 20px;
    height: 400px;
    width: auto;
    margin-top: 50px;
    border-radius: 10px;

}